
  <section class="top-nav">
    <div style="padding-left: 2%;">
      <!-- <div>
    <h2>
      <a class="nav-logo" href="{{ url_for('main') }}">Travedia</a>
    </h2>
     </div> -->
     
    <img id="logo" src="static/logo.png" alt="logo" width="140" height="70" > 
  
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
      <li><a class="nav-link" href="#objekwisata" style="justify-content: center; text-align: center;" onclick="DaftarObjek()" > Daftar Objek Wisata </a></li>
      <li><a class="nav-link" href="https://youtu.be/JYrljcNKasM" style="justify-content: center; text-align: center;" > Demo Program </a></li>
      <li><a class="nav-link" href="https://github.com/Pascal030801" style="justify-content: center; text-align: center;"> Github </a></li>
    </ul>
  </section>